
table.testrunmatrix > thead > tr > th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
  }
  
  table.testrunmatrix > thead > tr > th.rotate > div {
    transform: 
      /* Magic Numbers */
      translate(60px, 34px)
      /* 45 is really 360 - 45 */
      rotate(315deg);
    width: 80px;
  }
  table.testrunmatrix > thead > tr > th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 20px;
  }

  table.testrunmatrix {
    border-collapse: collapse;
  }

  table.testrunmatrix > tbody >  tr > td {
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #ccc;
    width: 80px;
  }